

html {
  width: 100%;
  margin: 10px auto;
}
input {
  display: none;
}

#rad1:checked ~ .carousel {
  -webkit-transform: translateX(0px);
}
#rad2:checked ~ .carousel {
  -webkit-transform: translateX(-200px);
}
#rad3:checked ~ .carousel {
  -webkit-transform: translateX(-400px);
}
#rad4:checked ~ .carousel {
  -webkit-transform: translateX(-600px);
}
#rad5:checked ~ .carousel {
  -webkit-transform: translateX(-800px);
}
.viewport {
  width: 200px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.carousel > img {
  float: left;
}
.carousel {
  position: relative;
  width:100%;
  left: 0px;
  -webkit-transition: -webkit-transform 1s;
}
